.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
  padding-top: 112px;
}

div.bottle-mockup {
    width: auto;
    background: #F8F8F8;
}

div.bottle-mockup:nth-child(even) > figure {
    grid-row: 1;
    grid-column: 1;
    background: url(/images/novo_rotulo_2_1.svg) 50% 50% no-repeat;
    position: relative;
    height: 410px;
    top: -28px;
}

div.bottle-mockup:nth-child(odd) > figure {
    grid-row: 2;
    grid-column: 1;
    background: url(/images/novo_rotulo_2_1.svg) 50% 50% no-repeat;
    position: relative;
    height: 410px;
    top: -28px;
}

div.info {
    position: relative;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.6fr 0.2fr;
    grid-column-gap: unset;
}

div.info:nth-child(odd) {
    grid-row: 1;
}

div.info:nth-child(even) {
    grid-row: 2;
}
